<header class="site-header" role="banner">

  <div class="logo-container">

    {% assign custom_url = site.url | append: site.baseurl %}
    {% assign full_base_url = site.github.url | default: custom_url %}
    <div class="logo">
      <a href="{{ full_base_url }}/" title="Home">
        <img src="{{ full_base_url }}/assets/img/nav-logo.png" alt="JMac Masonry's logo">
      </a>
      <h1 class="nav-title">JMac Masonry</h1>
    </div>
    <div class="logo-contact">
      <div class="logo-line"></div>
      <span>416.346.4129</span>
      <span>MARKHAM.ON<br/>CANADA</span>
    </div>
  </div>

  <div class="nav-container">
    <nav class="nav">
      <div class="nav-overlay"></div>
      <div id="nav-trigger" class="nav-trigger">
        <span class="trigger-open">MENU</span>
        <span class="trigger-close">CLOSE</span>
        <button class="menu-icon">
          <svg id="menu-icon-open" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
          <svg id="menu-icon-close" xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </div>


      <ul class="nav-links">
        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
        {% for my_page in navigation_pages %}
          {% if my_page.navigation_weight %}
          <li {% if my_page.url == page.url %}class="active"{% endif %}>
            <a href="{{ my_page.url | prepend: full_base_url }}" class="nav-link">{{ my_page.title | escape }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <a class="quote-link button-inversed" href="#">Free Quote</a>
      </ul>
    </nav>
  </div>
  
</header>
