@media screen and (min-width: 640px) {

  .hero {
    height: 450px;
  }

  .icon-panel__item {
    @include medium-6();
  }

  .recent-work-item {
    @include medium-6();
  }

  .gallery li {
  	@include medium-6();
  }

  .owl-carousel {
    max-width: 400px;
  }

  .footer-col-1, .footer-col-2 {
  	@include medium-6();
  }
}

@media screen and (min-width: 1024px) {
  .cta {
    max-width: 30%;
    margin: 1em auto 3em;
    padding: 2em .5em;

    &:hover {
      background: darken($primary, 10%);    
    }

    &.no-link:hover {
      background: $primary;
    }
  }

  .icon-panel__item {
    @include large-3;
  }

  .recent-work-item {
    @include large-3();
  }

  .gallery li {
    @include large-3();
  }

  .owl-carousel {
    max-width: 600px;
  }

  .footer-col-1, .footer-col-2 {
    @include large-3();
  }

  .contact-cta:hover {
    background: $primary;
  }
}

@media screen and (min-width: 1280px) and (min-height: 775px) {

  .wrap {
    width: calc(100% - 200px);
    margin-left: 200px;
    margin-top: 0;
  }

  .site-header {
    width: 200px;
    height: 100%;
    background: $secondary;
  }

  .logo-container {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 5.5em;
    height: auto;
    background: $secondary;
    color: $white;
  }

  .logo {
    margin-bottom: 130px;
    padding: 0;

    a {
      display: block;
      max-width: 250px;
      margin: 0 auto;
      max-height: 250px;
      height: 100%;
    }

    img {
      width: 125px;
    }
  }

  .nav-title {
    display: block;
  }

  .logo-contact {
    display: block;
    position: relative;
    line-height: 20px;

    span {
      display: block;
    }
  }

  .logo-line {
    position: absolute;
    left:0;
    right:0;
    top: -120px;
    margin: auto;
    width: 1px;
    height: 110px;
    background: $white;
  }

  .nav-container {
    position: absolute;
    bottom: 0;
    padding-top: 2em;
    width: 100%;
    background: $primary;
  }

  .nav {
    position: relative;
    text-align: center;
  }

  .nav-trigger {
    display: none;
  }

  .nav-links {
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
    background: none;
    font-size: 1em;
    transform: none;
    overflow: hidden;

    li {
      padding: 0 .3em;
      height: 100%;

      &.active {
        background: darken($primary, 10%);

        a {
          color: darken($white, 25%);
        }
      }

      &:hover {
        background: darken($primary, 10%);
      }
    }

  }

  a.nav-link {
    display: block;
    padding: 10px 0;
    height: 100%;
    font-weight: normal;
  }

  .quote-link.button-inversed {
    display: block;
    margin-top: 2.5em;
    z-index: 2;
  }

  .hero {
    height: 600px;
    background-position: center;
  }

  .hero-tagline {
    width: 50%;
  }

  .owl-carousel {
    max-width: 800px;
  }
}

@media screen and (min-width: 1700px) and (min-height: 775px) {
  .site-header {
    width: 300px;
  }

   .wrap {
    width: calc(100% - 300px);
    margin-left: 300px;
  }

  .owl-carousel {
    max-width: 1000px;
  }
}